
/* @import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wdth,wght@12..72,109.1,700&family=Yanone+Kaffeesatz:wght@500&display=swap');


body{
    font-family: "Madimi One";
}
pre{
    white-space: pre-wrap;
}
.index-content{
    /* border: 3px solid darkgoldenrod; */
    max-width: 50%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content {
    padding-left: 10%;
    background-color: whitesmoke; 
}


.topHeading{

text-align: center;    
}
.edit {
    text-align: center;
    border: 1px;


}

.Thank {
    position: absolute;       /* Remove element from normal document flow */
    bottom: 0;                /* Position at the bottom */
    left: 50%;                /* Position at 50% from the left */
    transform: translate(-50%, 50%); 
    padding-bottom: 15%;
    font-size: larger;
    color: firebrick;
  }
.answer {
    font-family: 'Truculenta', monospace;
    

    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;


    /* border: 3px solid paleturquoise; */
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    white-space: pre-wrap;
    overflow-x:auto;
    margin-left: 30px;
    margin-bottom: 20px;
    max-width: 70%;
    border-radius: 10px;
}
.question{
    font-family: 'Truculenta';
    border: 2px groove burlywood;
    border-radius: 5px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    white-space: pre-wrap;
    overflow-x:auto;
    margin-left: 30px;
    margin-bottom: 20px;
    max-width: 70%;
}

.highlight{
    color: orange;
}
.int-type{
    color: darkorchid;
}
.float-type{
    color:darkorchid;
}
.double-type{
    color:darkorchid;
}
.char-type{
    color:darkorchid;
}
.integer{
    color:orange;

}
.void-type{
    color: green;
}
.return-type{
    color: red;
}

.format-specifier{
    color:red;
}
.bracket{
    color: orangered;
}
.Third-bracket{
    color:royalblue ;
}
.curly-braces{
    color: rgb(197, 150, 116);
}
.preprocessor{
    color: magenta;
}
.header{
    color: brown;
}